<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  <link rel="stylesheet" href="../../public/profilepage/styles/profileStyle.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<script>
  var fileName;

  function getFileName() {
    fileName = 'http://changedirectory.s3.amazonaws.com/' + document.getElementById('fileName').files[0].name;
    document.getElementById('fileValue').value = fileName;
  }

</script>

<header>
  <% include ../partials/header %>
</header>

<body class="profile-page">
  <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="<%=pcbg[index].pic%>" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">

                <h3 class="title"><%=pcbg[index].first_name%> <%=pcbg[index].last_name%> (<%=pcbg[index].preferred_name%>)</h3>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 ml-auto mr-auto">
          <form action="http://changedirectory.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="hidden" name="key" value="${filename}">
                <input type="file" name="file" id="fileName" required>
              </div>
              <div class="col-md-6 mb-3">
                <button onclick="getFileName()" type="submit" class="btn btn-success float-right">Confirm Image</button>
              </div>
              <div class="form-row float-right">
              <p>*note: you must press confirm to update the image</p>
              </div>
          </form>
        </div>

        <form action="/editprofile$<%=pcbg[index].uid-1%>" method="post" class="needs-validation" novalidate>
          <div class="form-row">
            <input type="hidden" class="form-control" id="fileValue" name="file_name" value = "<%=pcbg[index].pic%>"">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">First name</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="First name" name="first_name" value="<%=pcbg[index].first_name%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault02">Preferred name</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Preferred name" name="preferred_name" value="<%=pcbg[index].preferred_name%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault03">Last name</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Last name" name="last_name" name="last_name" value="<%=pcbg[index].last_name%>" required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault04">Relation to Vanderbilt</label>
              <input type="text" class="form-control" id="validationDefault04" placeholder="Relation to Vanderbilt" name="relation" value="<%=pcbg[index].relation%>" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault05">Major/Program</label>
              <input type="text" class="form-control" id="validationDefault05" placeholder="Major/Program" name="major_or_program" value="<%=pcbg[index].major_or_program%>" required>
            </div>

          </div>

          <div class="form-row">
          <div class="col-md-6 mb-3">
          <label for="validationDefault03">Occupation</label>
          <input type="text" class="form-control" id="validationDefault03" placeholder="Occupation" name="occupation" value="<%=pcbg[index].occupation%>" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault06">Location</label>
            <input type="text" class="form-control" id="validationDefault06" placeholder="Location" name="location" value="<%=pcbg[index].location%>" required>
          </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault08">Phone Number</label>
              <input type="text" class="form-control" id="validationDefault08" placeholder="Phone Number" name="phone" value="<%=pcbg[index].phone%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault08">External Link</label>
              <input type="text" class="form-control" id="validationDefault08" placeholder="External Link" name="external_link" value="<%=pcbg[index].external_link%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault09">Email Address</label>
              <input type="text" class="form-control" id="validationDefault09" placeholder="Email Address" name="email" value="<%=pcbg[index].email%>" required>
              <div class="description text-center">
                <button type="submit" class="btn btn-success float-right">Update</button>

              </div>
            </div>
          </div>

        </form>



      </div>
    </div>
  </div>




  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>




</body>
