<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" type="text/css" href="../public/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  <link rel="stylesheet" href="../../public/profilepage/styles/profileStyle.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<header>
  <% include ../partials/header %>
</header>

<body>
  <div class="profile-page">
  <div class="page-header header-filter" data-parallax="true" style="background-image:url('https://iili.io/JG4m8P.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="<%=pcbg[index].pic%>" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">

                <h3 class="title"><%=pcbg[index].first_name%> <%=pcbg[index].last_name%> (<%=pcbg[index].preferred_name%>)</h3>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 ml-auto mr-auto">
          <form action="http://changedirectory.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="hidden" name="key" value="${filename}">
                <input type="file" name="file" id="fileName" required>
              </div>
              <div class="col-md-6 mb-3">
                <button onclick="getFileName()" type="submit" class="btn btn-success float-right">Confirm Image</button>
              </div>
              <div class="form-row float-right">
              <p>*note: you must press confirm to update the image</p>
              </div>
          </form>
        </div>

        <form action="/editprofile$<%=pcbg[index].uid-1%>" method="post" class="needs-validation" novalidate>
          <div class="form-row">
            <input type="hidden" class="form-control" id="fileValue" name="file_name" value = "<%=pcbg[index].pic%>"">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">First name</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="First name" name="first_name" value="<%=pcbg[index].first_name%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault02">Preferred name</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Preferred name" name="preferred_name" value="<%=pcbg[index].preferred_name%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault03">Last name</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Last name" name="last_name" name="last_name" value="<%=pcbg[index].last_name%>" required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label>Relation to Vanderbilt</label>
              <select id="relation" name="relation">
                <option value="no_relation_selected">Relation to Vanderbilt</option>
                <option value="Faculty">Faculty</option>
                <option value="Alumni">Alumni</option>
                <option value="Undergraduate Student">Undergraduate Student</option>
                <option value="Graduate Student">Graduate Student</option>
                <option value="Professional Student">Professional Student</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label>Department</label>
              <select id="department" name="department">
                <option value="no_department_selected">Department</option>
                <option value="Human and Organizational Development">Human and Organizational Development</option>
                <option value="Leadership, Policy, and Organizations">Leadership, Policy, and Organizations</option>
                <option value="Psychology and Human Development">Psychology and Human Development</option>
                <option value="Special Education">Special Education</option>
                <option value="Teaching and Learning">Teaching and Learning</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label>Program</label>
              <select id="major_or_program" name="major_or_program">
                <option value="no_major_selected">Major or Program</option>
                <option value="Human and Organizational Development">Human and Organizational Development</option>
                <option value="School Counseling">School Counseling</option>
                <option value="Human Development Counseling">Human Development Counseling</option>
                <option value="Child Studies">Child Studies</option>
                <option value="Community Development and Action">Community Development and Action</option>
                <option value="Community Research and Action">Community Research and Action</option>
                <option value="Education Policy">Education Policy</option>
                <option value="English Language Learners">English Language Learners</option>
                <option value="Higher Education Administration">Higher Education Administration</option>
                <option value="Independent School Leadership">Independent School Leadership</option>
                <option value="International Education Policy and Management">International Education Policy and Management</option>
                <option value="Leadership and Organizational Performance">Leadership and Organizational Performance</option>
                <option value="K-12 and Higher Education Leadership and Policy">K-12 and Higher Education Leadership and Policy</option>
                <option value="Leadership and Learning in Organizations">Leadership and Learning in Organizations</option>
                <option value="Leadership and Policy Studies">Leadership and Policy Studies</option>
                <option value="Independent School Leadership">Independent School Leadership</option>
                <option value="Learning, Diversity, and Urban Studies">Learning, Diversity, and Urban Studies</option>
                <option value="Learning and Design">Learning and Design</option>
                <option value="Quantitative Methods">Quantitative Methods</option>
                <option value="Reading Education">Reading Education</option>
                <option value="Secondary Education">Secondary Education</option>
                <option value="Cognitive Studies">Cognitive Studies</option>
                <option value="Child Studies">Child Studies</option>
                <option value="Child Development">Child Development</option>
                <option value="Psychological Sciences">Psychological Sciences</option>
                <option value="Psychological Sciences">Psychological Sciences - Clinical Science</option>
                <option value="Psychological Sciences">Psychological Sciences - Cognitive and Cognitive Neuroscience</option>
                <option value="Psychological Sciences">Psychological Sciences - Developmental Science</option>
                <option value="Psychological Sciences">Psychological Sciences - Neuroscience</option>
                <option value="Psychological Sciences - Quantitative Methods and Evaluation">Psychological Sciences - Quantitative Methods and Evaluation</option>
                <option value="Special Education">Special Education</option>
                <option value="Special Education - Early Childhood">Special Education - Early Childhood</option>
                <option value="Special Education - High Incidence Disabilities">Special Education - High Incidence Disabilities</option>
                <option value="Special Education - Severe Disabilities">Special Education - Severe Disabilities</option>
                <option value="Special Education - Visual Disabilities">Special Education - Visual Disabilities</option>
                <option value="Early Childhood Education">Early Childhood Education</option>
                <option value="Early Childhood Education">Early Childhood Education</option>
                <option value="Elementary Education">Elementary Education</option>
                <option value="Secondary Education">Secondary Education</option>
                <option value="English Language Learners">English Language Learners</option>
                <option value="Learning and Design">Learning and Design</option>
                <option value="Learning, Diversity, and Urban Studies">Learning, Diversity, and Urban Studies</option>
                <option value="Reading Education">Reading Education</option>
                <option value="Learning, Teaching, and Diversity">Learning, Teaching, and Diversity</option>
                <option value="Learning, Teaching, and Diversity - Language, Literacy, and Culture">Learning, Teaching, and Diversity - Language, Literacy, and Culture</option>
                <option value="Learning, Teaching, and Diversity - Development, Learning, and Diversity">Learning, Teaching, and Diversity - Development, Learning, and Diversity</option>
                <option value="Learning, Teaching, and Diversity - Mathematics and Science Education">Learning, Teaching, and Diversity - Mathematics and Science Education</option>
                <option value="Learning, Teaching, and Diversity - Learning Sciences and Learning Environment Design">Learning, Teaching, and Diversity - Learning Sciences and Learning Environment Design</option>
              </select>

            </div>

          </div>

          <div class="form-row">
          <div class="col-md-6 mb-3">
          <label for="validationDefault03">Occupation</label>
          <input type="text" class="form-control" id="validationDefault03" placeholder="Occupation" name="occupation" value="<%=pcbg[index].occupation%>" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault06">Location</label>
            <input type="text" class="form-control" id="validationDefault06" placeholder="Location" name="location" value="<%=pcbg[index].location%>" required>
          </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault08">Organization</label>
              <input type="text" class="form-control" id="validationDefault08" placeholder="Organization" name="organization" value="<%=pcbg[index].organization%>" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault08">Graduation Year</label>
              <input type="year" class="form-control" id="validationDefault08" placeholder="Graduation Year" name="graduation_year" value="<%=pcbg[index].graduation_year%>" required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault08">Phone Number</label>
              <input type="text" class="form-control" id="validationDefault08" placeholder="Phone Number" name="phone" value="<%=pcbg[index].phone%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault08">External Link</label>
              <input type="text" class="form-control" id="validationDefault08" placeholder="External Link" name="external_link" value="<%=pcbg[index].external_link%>" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault09">Email Address</label>
              <input type="text" class="form-control" id="validationDefault09" placeholder="Email Address" name="email" value="<%=pcbg[index].email%>" required>
              <div class="description text-center">
                <button type="submit" class="btn btn-success float-right">Update</button>

              </div>
            </div>
          </div>

        </form>



      </div>
    </div>
  </div>
  </div>


  <footer>
    <% include ../partials/footer %>
  </footer>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</body>



<script>
  var fileName;

  function getFileName() {
    fileName = 'http://changedirectory.s3.amazonaws.com/' + document.getElementById('fileName').files[0].name;
    document.getElementById('fileValue').value = fileName;
  }

  $('#department option:contains("<%=pcbg[index].department%>")').prop('selected',true);
  $('#major_or_program option:contains("<%=pcbg[index].major_or_program%>")').prop('selected',true);
  $('#relation option:contains("<%=pcbg[index].relation%>")').prop('selected',true);
</script>
